{% extends "base.html" %}
{% block content %}
<div>
    <img src="{{url_for('static',filename='info_3.jpg')}}" style="width:100%;height:300px;">
</div>
<div class="breadcrumbs1_wrapper">
    <div class="container">
        <div class="breadcrumbs1"><a href="/">首页</a><span>/</span>景区详情</div>
    </div>
</div>

<!-- 景区内容 -->
<div id="team1">
    <div class="container">
        <h2 class="animated">{{scenic.title}}
            {% if count %}
                <button class="collect-button">已收藏</button>
            {% else %}
                <button class="collect-button">收藏</button>
            {% endif %}
        </h2>
        <div class="title1">{{scenic.content|safe}}</div>
    </div>
</div>
<!-- 游记列表 -->
<div class="container" style="...">
    <h2 class="animated">{{scenic.title}}游记</h2>
    <div class="row">
        {% if not scenic.travels %}
            <div class="title">暂无游记</div>
        {% else %}
        <div class="col=sm-12 animated undefined visible">
            <ul class="ul2" style="...">
                {% for v in scenic.travels %}
                    <li class="form-groupe">
                        <a href="{{url_for('foreground.travels', id=v.id)}}">{{v.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='layer/layer.js')}}"></script>
<script>
    $(document).ready(function() {
        $(".collect-button").click(function(){
            user_id = {{ user_id }};
            if(!user_id){
                layer.msg("请先登录",{icon:2,time:2000});
                return false;
            }
            var scenic_id = {{scenic.id}};
            $.ajax({
                url:"{{url_for('foreground.collect_add')}}",
                type:"GET",
                data:{scenic_id:scenic_id},
                dataType:"json",
                success:function(res){
                    if(res.ok == 1){
                        layer.msg("收藏成功！",{icon:1,time:2000});
                        $(".collect-button").empty();
                        $(".collect-button").append("已收藏");
                    } else{
                        layer.msg("您已取消收藏", {icon:2,time:2000});
                        $(".collect-button").empty();
                        $(".collect-button").append("收藏");
                        $.ajax({
                        url:"{{url_for('foreground.collect_del')}}",
                        type:"GET",
                        data:{scenic_id:scenic_id},
                        dataType:"json",})
                            }
                }
            })
        })
    })
</script>
{% endblock %}